{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5"
}